@page
@model Qimt2.Pages.AboutusModel
@{
}

<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">
            <div class="container justify-content-center">
                <img class="about" src="assets/img/about/ab3.png" width="90%" height="200"/>
            </div>
            
            <div style="width:90%; margin-bottom:60px; margin-top:-50px">
                <div class="d-flex justify-content-center align-content-center" style="width:120px; margin:25px; border-radius: 10px 100px / 120px; border:1px solid white; background-color:white;">
                    <h4 style="margin-top:10px; color:darkblue; font-family:Times New Roman" , Times, serif">من نحـن</h4>
                </div>
                <p class="text-light" style="font-size:22px; font-family:Times New Roman" , Times, serif">
                    دعنا نأخذك إلى عالم رقمي بكل سهولة و يسر؛ حيث الأفكار المبتكرة و التقدم المذهل في مشروعك و لما لا ؟
                    فالعالم الآن يشهد تطور سريعا فى مجال التكنولوجيا و المعلومات نساعدك فى تحويل أفكارك إلى حقيقة من مطوري 
                    مواقع إلكترونية مختصين في مجال برمجة و تصميم المواقع و التطبيقات .</p>
                <p class="text-light" style=" font-size:22px; font-family:Times New Roman" , Times, serif">معنا لن تحتاج إلى مؤسسة أخرى؛ فنحن نوفر لك جميع الخدمات و جميع الحلول الذكية، نهدف دائما لنجاح مشروعك وجذب المزيد من العملاء إليك.</p>
            </div>
            <div class="row d-flex justify-content-between" style="margin-bottom:30px;">
                <div class="col-lg-4" justify-content-center" style="border-radius: 25px;
                 border: 2px solid white; box-shadow:5px 5px 10px white">
                    <div class="d-flex justify-content-center align-content-center" style="width:100px; margin:25px; border-radius: 10px 100px / 120px; border:1px solid white; background-color:white;">
                        <h4 style="margin-top:10px; color:darkblue; font-family:Times New Roman" , Times, serif">هدفنا</h4>
                    </div>
                    <p class="text-light" style="font-size:20px; font-family:Times New Roman" , Times, serif">
                        نهدف إلى تحويل نشاطك التجاري رقميا باحترافية على الإنترنت، وتقديم جميع الحلول و الخدمات التقنية التى يحتاجها نشاطك التجارى،
                        و تحويل أفكارك إلى واقع ملموس يعود عليك بتوسيع نشاطك على الإنترنت، و الوصول لجمهور جديد.
                    </p>
                </div>
                <div class="col-lg-3" justify-content-center" style="border-radius: 25px;
                 border: 2px solid white; box-shadow:5px 5px 10px white">
                    <div class="d-flex justify-content-center align-content-center" style="width:100px; margin:25px; border-radius: 10px 100px / 120px; border:1px solid white; background-color:white;">
                        <h4 style="margin-top:10px; color:darkblue; font-family:Times New Roman" , Times, serif">شعارنا</h4>
                    </div>
                    <p class="text-light" style="font-size:20px; font-family:Times New Roman" , Times, serif">
                       الإحترافية و الكفاءة و السرعة في تنفيذ موقعك الإلكترونى أو تصميم تطبيقات الجوال لمساعدتك فى جذب المزيد من الزوار 
                       و العملاء المحتملين و زيادة مبيعاتك و بالتالى أرباحك .
                    </p>
                </div>
                <div class="col-lg-4" justify-content-center" style="border-radius: 25px;
                 border: 2px solid white; box-shadow:5px 5px 10px white">
                        <div class="d-flex justify-content-center align-content-center" style="width:100px; margin:25px; border-radius: 10px 100px / 120px; border:1px solid white; background-color:white;">
                            <h4 style="margin-top:10px; color:darkblue; font-family:Times New Roman" , Times, serif">خدماتنا</h4>
                        </div>
                        <p class="text-light" style="font-size:20px; font-family:Times New Roman" , Times, serif">
                            نقدم جميع الحلول و الخدمات التقنية التى تساعدك في الإنتقال بنشاطك التجاري و مشروعك إلى عالم الإنترنت و التسويق الإلكتروني
                            من تصميم المواقع و برمجتها و تصميم تطبيقات الهاتف الجوال و تصميم متجر إلكتروني يساعدك في جذب المزيد من الزوار و العملاء 
                            المحتملين لنشاطك .
                        </p>
                    </div>
            </div>
            <br />

            <div class="d-flex justify-content-center align-content-center" style="width:150px; margin:25px; border-radius: 10px 100px / 120px; border:1px solid white; background-color:white;">
                <h4 style="margin-top:10px; color:darkblue; font-family:Times New Roman" , Times, serif">مميزات الشركة</h4>
            </div>
@*            <h2 class="text-light" style="margin-bottom:30px; font-family:Times New Roman" , Times, serif">مميزات الشركة</h2>
*@            
            <ul class="text-light">
                <li style="margin-bottom:30px; font-size:22px; font-family:Times New Roman" , Times, serif">
                    الإحترافية
                    <ul style="list-style-type:none">
                        <li style="font-size:19px; font-family:Times New Roman" , Times, serif">لدينا فريق محترف ذو كفاءة عالية يساعدك فى بناء أفكارك و يلهمك بالمزيد من الأفكار القوية التى تساعدك في تكبير نشاطك التجاري و مشروعك . </li>
                    </ul>
                </li>
                <li style="margin-bottom:30px; font-size:22px; font-family:Times New Roman" , Times, serif"">
                    خدمة ٢٤ ساعة
                    <ul style="list-style-type:none">
                        <li style="font-size:19px; font-family:Times New Roman" , Times, serif">توفر الفريق طوال الأسبوع و تقديم المساعدة التقنية باستمرار .</li>
                    </ul>
                </li>
                <li style="margin-bottom:30px; font-size:22px; font-family:Times New Roman" , Times, serif"">
                    سرعة و دقة التنفيذ
                    <ul style="list-style-type:none">
                        <li style="font-size:19px; font-family:Times New Roman" , Times, serif">السرعة فى التنفيذ و الدقة التي تجعلك منبهرا من الأداء . </li>
                    </ul>
                </li>
                <li style="margin-bottom:30px; font-size:22px; font-family:Times New Roman" , Times, serif"">
                    خدمة ما بعد البيع و التي نوفرها لك بإستمرار .
                </li>
            </ul>
         </div>
    </section>
</div>