@page
@model Qimt2.Pages.CreateJobModel

@{
    ViewData["Title"] = "CreateJob";
}
<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">
            <h2 class="text-light" style="font-family:Times New Roman" , Times, serif">إنشـاء وظيفة</h2>
            <hr style="border: 1px solid black" />
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Jobs.Name" class="form-control" placeholder="اسـم الوظيفة" />
                            <span asp-validation-for="Jobs.Name" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Jobs.About" placeholder="عـن الوظيفة" id="floatingTextarea2" style="height: 100px"></textarea>
                            <span asp-validation-for="Jobs.About" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Jobs.Requirements" placeholder="متطلبات الوظيفة" id="floatingTextarea2" style="height: 100px"></textarea>
                            <span asp-validation-for="Jobs.Requirements" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Jobs.Responsibilities" placeholder="مسئوليات الوظيفة" id="floatingTextarea2" style="height: 100px"></textarea>
                            <span asp-validation-for="Jobs.Responsibilities" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="حفـظ " class="btn style2" />
                        </div>
                        <br />
                    </form>
                </div>
                <div class="col-lg-6 col-md-12">
                    <img src="assets/img/job.png" width="500px" />
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
