@page "/"
@model Qmt_2.Pages.HomeModel
@{
}
@*<div class="page-wrapper">*@
<section class="hero-wrap style1">
    <img src="assets/img/hero/hero-shape-1.png" alt="Image" class="hero-shape-1" data-speed="0.2" data-revert="true">
    <img src="assets/img/hero/hero-shape-2.png" alt="Image" class="hero-shape-2">
    <div class="container-fluid">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="hero-content" data-speed="0.06" data-revert="true">
                    <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">ننقل أعمالك إلى بعد آخر مع قمة الإحتراف</h1>
                    <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="800">نقدم جميع الحلول والخدمات التقنية التي تساعدك في الإنتقال بنشاطك التجاري ومشروعك إلى عالم الإنترنت والتسويق الإلكتروني من تصميم المواقع وبرمجتها وتطبيقات الجوال والمتاجر الإلكترونية لنساعدك في جذب المزيد من الزوار  والعملاء المحتملين لنشاطك .</p>
@*                    <a href="" class="btn style2" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1100">اعرف المزيد</a>
*@                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img" data-speed="0.06" data-revert="true">
                    <img src="assets/img/hero/hero-img-1.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-choose-wrap style1 ptb-100">
    <img src="assets/img/line-shape-2.png" alt="Image" class="line-shape-2 lg-none">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xxl-5 col-xl-6 col-lg-6">
                <div class="wh-content">
                    <div class="content-title style1 mb-25">
                        <span>لماذا تختارنا ؟</span>
                        <h2>الإحترافية وخدمات مابعد البيع</h2>
                        <p>لدينا فريق محترف ذو كفاءة عالية يساعدك في تطوير مشروعك ويلهمك الأفكار القوية التي تساهم في نمو نشاطك التجاري  وايضا يوفر فريقنا الدعم الفني بعد البيع لتعديل المواقع والتطبيقات وإضافة الخدمات </p>
                    </div>
                    <div class="feature-list-wrap">
                        <div class="feature-item">
                            <span class="feature-icon">
                                <i class="flaticon-renew"></i>
                            </span>
                            <div class="feature-text">
                                <h3>سرعة ودقة التنفيذ</h3>
                                <p>السرعة في التسليم والدقة في العمل بالمواصفات المطلوبة </p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <span class="feature-icon">
                                <i class="flaticon-customer-service"></i>
                            </span>
                            <div class="feature-text">
                                <h3>خدمة على مدار الساعة</h3>
                                <p>يوفر فريقنا المساعدة الفنية والتقنية طوال الأسبوع على مدار الساعة</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7 col-xl-6 col-lg-6">
                <div class="wh-img-wrap" data-speed="0.06" data-revert="true">
                    <img src="assets/img/why-choose-us/why-choose-img-1.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-wrap pt-100 pb-75">
    <img src="assets/img/line-shape-2.png" alt="Image" class="line-shape-2 lg-none">
    <div class="container">
        <div class="section-title style1 mb-40">
            <span>خدماتنا</span>
            <h2> تقدم شركة قمة الإحتراف مجموعة من الخدمات </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1">
                    <span class="service-icon clr-dodger">
                        <i class="flaticon-rocket"></i>
                    </span>
                    <div class="service-info">
                        <h3><a href="/Services/#service2">تصميم مواقع</a></h3>
                        <p>سريعة وجذابة ذات تصميم متميز ومتوافقة مع محركات البحث وإحترافية ومتجاوبة مع جميع الأجهزة التقنية </p><br>
                        <a href="/Services/#service2" class="btn style1">اعرف المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1">
                    <span class="service-icon  clr-ectasy">
                        <i class="flaticon-keywords"></i>
                    </span>
                    <div class="service-info">
                        <h3><a href="/Services/#service6">تسجيل الدومين (النطاق) وإستضافة المواقع</a></h3>
                        <p>نقدم لك خدمة تسجيل الدومين وإستضافة المواقع على سيرفرات عالمية بمساحات كبيرة</p>
                        <a href="/Services/#service6" class="btn style1">اعرف المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1">
                    <span class="service-icon clr-blue-gem">
                        <i class="flaticon-seo"></i>
                    </span>
                    <div class="service-info">
                        <h3><a href="/Services/#service5">SEO خدمات</a></h3>
                        <p>
                            يقوم فريقنا المختص بتهيئة الموقع للظهور في نتائج البحث الأولى في محركات البحث العالمية
                            Google, Bing, Yandex, DuckDuckGo
                        </p>
                        <a href="/Services/#service5" class="btn style1">اعرف المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1">
                    <span class="service-icon clr-jungle-green">
                        <i class="flaticon-click"></i>
                    </span>
                    <div class="service-info">
                        <h3><a href="/Services/#service4">تصميم متجر إلكتروني</a></h3>
                        <p>تصميم مميز وفريد وسهل الإستخدام ومتوافق مع جميع الأجهزة الإلكترونية ويدعم أكثر من لغة ويوفر طرق دفع متعددة</p>
                        <a href="/Services/#service4" class="btn style1">اعرف المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1">
                    <span class="service-icon clr-apple">
                        <i class="flaticon-solution"></i>
                    </span>
                    <div class="service-info">
                        <h3><a href="/Services/#service3"> تصميم تطبيقات الجوال </a></h3>
                        <p>
                            تصميم وبرمجة تطبيقات الجوال بتصميم مميز وفريد متوافق مع أجهزة
                            Android و iOS
                            تدعم أكثر من لغة وتمتاز بسهولة التحكم بمايخدم مشروعك وتطبيقك
                        </p>
                        <a href="/Services/#service3" class="btn style1">اعرف المزيد</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="pricing-wrap pt-100 pb-75 bg-albastor">
    <div class="container">
        <div class="section-title style1 text-center mb-40">
            @*<span>خطة التسعير الخاصة بنا</span>
            <h2>اختر أفضل باقة SEO</h2>*@
            <h2> اختر أفضل الخدمات</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="pricing-table style1">
                    <span class="pricing-header-tag">
@*                        فريق فردي
*@                    
                        تصاميم مواقع
                    </span>
                    <div class="pricing-icon">
                        <img src="assets/img/services/design.png" alt="Image">
                    </div>
                    @*<h2>47.00 <span>/ شهريا</span></h2>*@
                    <ul class="pricing-features list-style">
                        <li class="checked">تصميم مواقع ويب و تطبيقات جوال بتصاميم مميزة تناسب احتياجات العميل</li>
                        <li class="checked">تصاميم تسهل للعميل الوصول للمعلومات المطلوبه</li>
                        <br />
                    </ul>
                    <div class="text-center">
                        <a href="/ServiceRequests" class="btn style1" style="font-family:'Times New Roman', Times, serif; font-weight:bold">تقديـم طلـب </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="pricing-table style2">
                    <span class="pricing-header-tag">
                        @*احترافي*@
                        خدمات SEO
                    </span>
                    <div class="pricing-icon">
                        <img src="assets/img/services/seo.png" alt="Image">
                    </div>
                    @*<h2>57.00 <span>/ شهريا</span></h2>*@
                    <ul class="pricing-features list-style">
                        <li class="checked">يعد الوصول للنتائج الأولى فى محركات البحث من أهم الأهداف التى نسعى إلى تحسينها و رفع معدل الأرباح الخاص بك</li>
                        <li class="checked">تصدر موقعك فى محركات البحث لزيادة الزوار من خلال فريق من المتخصصين</li>
                    </ul>
                    <div class="text-center">
                        <a href="/ServiceRequests" class="btn style1" style="font-family:'Times New Roman', Times, serif;font-weight:bold">تقديـم طلـب</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="pricing-table style1">
                    <span class="pricing-header-tag">
                        @*بريميوم*@
                        الخدمات السحابية
                    </span>
                    <div class="pricing-icon">
                        <img src="assets/img/services/cloud.png" alt="Image">
                    </div>
                    @*<h2>67.00 <span>/ شهريا</span></h2>*@
                    <ul class="pricing-features list-style">
                        <li class="checked">نقـدم لك خدمات حوسبة قائمة على الإنترنت توفر موارد وبرامج ومعلومات مشتركة للمستخدمين </li>
                        <li class="checked">عبر الإنترنت</li>
                        <br />
                    </ul>
                    <div class="text-center">
                        <a href="/ServiceRequests" class="btn style1" style="font-family:'Times New Roman', Times, serif;font-weight:bold">تقديـم طلـب</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-wrap pt-100 pb-75">
    <div class="container">
        <div class="section-title style1 text-center mb-40">
            <span>المدونة والاخبار</span>
            <h2>احصل على كل التحديثات والنصائح</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-1.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo list-style">
                            <li>
                                <i class="las la-calendar-week"></i>
                                <a href="#">24 Sep, 2023</a>
                            </li>
                            @*<li>
                                <i class="las la-calendar-week"></i>
                                <a href="#">Eslam Hassan</a>
                            </li>*@
                        </ul>
                        <h3>
                            <a href="/Blog">
                                أهم 10 نصائح لتحسين محركات البحث لتعزيز نمو عملك
                            </a>
                        </h3>
                        <p>أهم 10 نصائح لتحسين محركات البحث لتعزيز نمو عملك , أهم 10 نصائح لتحسين محركات البحث لتعزيز نمو عملك , </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-2.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo list-style">
                            <li>
                                <i class="las la-calendar-week"></i>
                                <a href="#">13 Sep, 2023</a>
                            </li>
                            @*<li>
                                <i class="las la-calendar-week"></i>
                                <a href="#">Eslam Hassan</a>
                            </li>*@
                        </ul>
                        <h3>
                            <a href="/Blog">
                                الدليل الكامل لتحديثات خوارزمية Google SEO
                            </a>
                        </h3>
                        <p>الدليل الكامل لتحديثات خوارزمية Google SEO , الدليل الكامل لتحديثات خوارزمية Google SEO</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card style1">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-3.jpg" alt="Image">
                    </div>
                    <div class="blog-info">
                        <ul class="blog-metainfo list-style">
                            <li>
                                <i class="las la-calendar-week"></i>
                                <a href="#">12 Aug, 2023</a>
                            </li>
                            @*<li>
                                <i class="las la-calendar-week"></i>
                                <a href="#">Eslam Hassan</a>
                            </li>*@
                        </ul>
                        <h3>
                            <a href="/Blog">
                                7 حيل لتسويق المحتوى لزيادة مبيعاتك
                            </a>
                        </h3>
                        <p>7 حيل لتسويق المحتوى لزيادة مبيعاتك , 7 حيل لتسويق المحتوى لزيادة مبيعاتك</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*</div>*@
















