@page
@model Qimt2.Pages.PanalModel
@{
}
<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">

              <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" style="border:2px solid white; box-shadow:5px 5px 10px white;">
                    <span class="service-icon clr-dodger">
                        <img src="assets/img/report2.png" width="50" style="margin:12px"/>
                    </span>
                    <div class="service-info">
                        <h3 class="text-dark" style="font-family:Times New Roman" , Times, serif">التقارير</h3>
                                <ul>
                                    <li style="font-family:Times New Roman" , Times, serif">عرض التقارير</li>
                                    <li style="font-family:Times New Roman" , Times, serif">إضافة تقرير </li>
                                    <li style="font-family:Times New Roman" , Times, serif">تعديل تقرير </li>
                                    <li style="font-family:Times New Roman" , Times, serif">حذف تقرير </li>
                                </ul>
                                <br>
                        <a href="/Report" class="btn style1" style="border:1px black solid">اعرف المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" style="border:2px solid white; box-shadow:5px 5px 10px white;">
                    <span class="service-icon clr-dodger">
                        <img src="assets/img/job1.png" width="50" style="margin:16px"/>
                    </span>
                    <div class="service-info">
                        <h3 class="text-dark" style="font-family:Times New Roman" , Times, serif">الوظائف</h3>
                                <ul>
                                    <li style="font-family:Times New Roman" , Times, serif">عرض الوظائف</li>
                                    <li style="font-family:Times New Roman" , Times, serif">إضافة وظيفة </li>
                                    <li style="font-family:Times New Roman" , Times, serif">تعديل وظيفة </li>
                                    <li style="font-family:Times New Roman" , Times, serif">حذف وظيفة </li>
                                </ul>
                                <br>
                        <a href="/Jobs" class="btn style1" style="border:1px black solid">اعرف المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" style="border:2px solid white; box-shadow:5px 5px 10px white;">
                    <span class="service-icon clr-dodger">
                        <img src="assets/img/employee1.png" width="50" style="margin:16px"/>
                    </span>
                    <div class="service-info">
                        <h3 class="text-dark" style="font-family:Times New Roman" , Times, serif">الموظفين</h3>
                                <ul>
                                    <li style="font-family:Times New Roman" , Times, serif">عرض الموظفين</li>
                                    <li style="font-family:Times New Roman" , Times, serif">إضافة موظف </li>
                                    <li style="font-family:Times New Roman" , Times, serif">تعديل موظف </li>
                                    <li style="font-family:Times New Roman" , Times, serif">حذف موظف </li>
                                </ul>
                                <br>
                        <a href="/Employees" class="btn style1" style="border:1px black solid">اعرف المزيد</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card style1" style="border:2px solid white; box-shadow:5px 5px 10px white;">
                        <span class="service-icon clr-dodger">
                            <img src="assets/img/msg.png" width="50" style="margin:16px" />
                        </span>
                        <div class="service-info">
                            <h3 class="text-dark" style="font-family:Times New Roman" , Times, serif">الرسائل</h3>
                            <ul>
                                <li style="font-family:Times New Roman" , Times, serif">عرض الرسائل</li>
                                <li style="font-family:Times New Roman" , Times, serif">حذف رسالة </li>
                            </ul>
                            <br>
                            <a href="/Messages" class="btn style1" style="border:1px black solid">اعرف المزيد</a>
                        </div>
                    </div>
                </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card style1" style="border:2px solid white; box-shadow:5px 5px 10px white;">
                        <span class="service-icon clr-dodger">
                            <img src="assets/img/order.png" width="50" style="margin:16px" />
                        </span>
                        <div class="service-info">
                            <h3 class="text-dark" style="font-family:Times New Roman" , Times, serif">الطلبات</h3>
                            <ul>
                                <li style="font-family:Times New Roman" , Times, serif">عرض الطلب</li>
                                <li style="font-family:Times New Roman" , Times, serif">حذف الطلب </li>
                            </ul>
                            <br>
                            <a href="/Requests" class="btn style1" style="border:1px black solid">اعرف المزيد</a>
                        </div>
                    </div>
            </div>



        </div>
         </div>
    </section>
</div>