@page
@model Qimt2.Pages.ServicesModel
@{
}
<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">
            <h2 class="text-light" style="font-family:Times New Roman" , Times, serif">تقـدم الشركة مجموعه من الخدمات أهمها :</h2>
            <hr style="border: 1px solid black" />
            <div class="row gx-5 align-items-center" style="margin-bottom:50px">
                <div class="col-lg-6" id="service2">
                    <div class="hero-conten" data-speed="0.06" data-revert="true">
                        <h2 class="text-light" style="color:white; font-family:Times New Roman" , Times, serif;">
                            ١- برمجة المواقع و التطبيقات
                        </h2>
                        <p style="font-size:18px; color:white; font-family:Times New Roman" , Times, serif;">
                            برمجة مواقع الويب و تطبيقات المحمول التى تضمن للمستخـدم تسهيـل عملية الوصول للمعلومات المطلوبة.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img" data-speed="0.06" data-revert="true">
                        <img src="/assets/img/services/accprog.png" alt="Image" width="400" height="300">
                    </div>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="margin-bottom:50px">
                <div class="col-lg-6" id="service3">
                    <div class="hero-conten" data-speed="0.06" data-revert="true">
                        <h2 class="text-light" style="color:white; font-family:Times New Roman" , Times, serif;">
                            ٢- تصميـم مواقع
                        </h2>
                        <p style="font-size:18px; color:white; font-family:Times New Roman" , Times, serif;">
                            سريعة و جذابة ذات تصميـم متميز و متوافقة مع محركات البحث و احترافية و متجاوبة مع جميع الأجهزة التقنية.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img" data-speed="0.06" data-revert="true">
                        <img src="/assets/img/services/webdesign.png" alt="Image" width="400" height="300">
                    </div>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="margin-bottom:50px">
                <div class="col-lg-6" id="service4">
                    <div class="hero-conten" data-speed="0.06" data-revert="true">
                        <h2 class="text-light" style="color:white; font-family:Times New Roman" , Times, serif;">
                            ٣- تصميـم تطبيقات الجوال
                        </h2>
                        <p style="font-size:18px; color:white; font-family:Times New Roman" , Times, serif;">
                            تصميم و برمجة تطبيقات الجوال بتصميـم مميز و فريد متوافق مع أجهزة الأندرويد و الios و تدعم أكثر من لغة و تحكم سهل بما يخدم مشروعك و تطبيقك .
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img" data-speed="0.06" data-revert="true">
                        <img src="/assets/img/services/mobile.png" alt="Image" width="400" height="300">
                    </div>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="margin-bottom:50px">
                <div class="col-lg-6" id="service5">
                    <div class="hero-conten" data-speed="0.06" data-revert="true">
                        <h2 class="text-light" style="color:white; font-family:Times New Roman" , Times, serif;">
                            ٤- تصميـم متجر إلكترونى
                        </h2>
                        <p style="font-size:18px; color:white; font-family:Times New Roman" , Times, serif;">
                            تصميـم مميز و فريد و سهل الاستخدام و متوافق مع جميع الأجهزة الإلكترونية و يدعم أكثر من لغة وأكثر من طريقة دفع.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img" data-speed="0.06" data-revert="true">
                        <img src="/assets/img/services/ecommerce.png" alt="Image" width="400" height="300">
                    </div>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="margin-bottom:50px">
                <div class="col-lg-6" id="service6">
                    <div class="hero-conten" data-speed="0.06" data-revert="true">
                        <h2 class="text-light"style="color:white; font-family:Times New Roman" , Times, serif;">
                            ٥- خدمات SEO
                        </h2>
                        <p style="font-size:18px; color:white; font-family:Times New Roman" , Times, serif;">
                            تهئـة محركات البحث لظهور موقعك في نتائج البحث الأولى مع فريق محترف و متخصص.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img" data-speed="0.06" data-revert="true">
                        <img src="/assets/img/services/seo.png" alt="Image" width="350" height="250">
                    </div>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="margin-bottom:50px">
                <div class="col-lg-6" id="service7">
                    <div class="hero-conten" data-speed="0.06" data-revert="true">
                        <h2 class="text-light" style="color:white; font-family:Times New Roman" , Times, serif;">
                            ٦- الدومين و استضافة المواقع
                        </h2>
                        <p style="font-size:18px; color:white; font-family:Times New Roman" , Times, serif;">
                            تقـدم لك خدمة الدومين و استضافة المواقع نوفـر لك سيرفرات عالميـة بمساحات كبيرة.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img" data-speed="0.06" data-revert="true">
                        <img src="/assets/img/services/webhosting.png" alt="Image" width="400" height="300">
                    </div>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="margin-bottom:50px">
                <div class="col-lg-6">
                    <div class="hero-conten" data-speed="0.06" data-revert="true">
                        <h2 class="text-light"style="color:white; font-family:Times New Roman" , Times, serif;">
                            ٧- الخدمات السحابية
                        </h2>
                        <p style="font-size:18px; color:white; font-family:Times New Roman" , Times, serif;">
                            نقـدم لك خدمات حوسبة قائمة على الإنترنت توفر موارد وبرامج ومعلومات مشتركة للمستخدمين عبر الإنترنت.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-img" data-speed="0.06" data-revert="true">
                        <img src="/assets/img/services/cloud.png" alt="Image" width="400" height="300">
                    </div>
                </div>
            </div>
         </div>
    </section>
</div>