@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<h2 style="color:white; font-family:Times New Roman" , Times, serif;">المعلومات الشخصية</h2>

<div class="row">
    <div class="col-md-6">
        <p style="color:white">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p style="color:white">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn style2" type="submit">تنزيل</button>
        </form>
        <br />
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">حذف</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
