@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">
            <h2 class="text-light" style="font-family:Times New Roman" , Times, serif">تأكيد الإيميل</h2>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </section>
</div>