@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">
            <h2 class="text-light" style="font-family:Times New Roman" , Times, serif">إعادة تعيين كلمة السر</h2>
            <hr />
            <p>
                Please check your email to reset your password.
            </p>
</div>
</section>
</div>