@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">
            <h2 class="text-light" style="font-family:Times New Roman" , Times, serif">إعادة إرسال كود التأكيد</h2>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">البريد الإلكترونى</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn style2">إرسال كود التفعيل</button>
                    </form>
                </div>
            </div>
</div>
</section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
