@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="page-wrapper">
    <section class="hero-wrap style1">
        <div class="row" style="padding-right: 100px;" class="style1 bg-primary">
            <h2 class ="text-light" style="font-family:Times New Roman" , Times, serif">@ViewData["Title"]</h2class>
            <hr>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
</div>
</section>
</div>